{% load i18n %}
<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
    <ul class="list-input settings-list">
        
         <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="pdf_edit_display_name">{% trans "Display Name" %}</label>
                <input class="input setting-input" id="pdf_edit_display_name" value="{{ display_name }}" type="text">
            </div>
            <span class="tip setting-help">{% trans "This name appears in the horizontal navigation at the top of the page." %}</span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="pdf_file">{% trans "Upload PDF file" %}</label>
                <input class="input setting-input" name="pdf_file" id="pdf_file" type="file" accept="application/pdf" />
            </div>
            {% if pdf_file_name %}
                <span class="tip setting-help setting-input-file"><span>{% trans "At the moment:" %}</span> {{ pdf_file_name }}</span>
            {% endif %}
        </li>

        
    </ul>
    
    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary action-save">{% trans "Save" %}</a>
            </li>
            <li class="action-item">
                <a href="#" class="button action-cancel">{% trans "Cancel" %}</a>
            </li>
        </ul>
    </div>
</div>


