.pdf-download-button {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
.pdf_block .embed-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.25;
    width: calc(100% - 17px);
}
  
.pdf_block .wrapper {
    position: relative;
    overflow: hidden;
}
